# ===============================
# [1] 환경/시스템 관련
# ===============================
.git
.env
.venv
env/


# macOS
.DS_Store

# VSCode
*.so

# ===============================
# [2] Airflow 관련
# ===============================
airflow_settings.yaml
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
astro

# ===============================
# [3] 결과/result, 로그/임시파일 등 데이터
# ===============================
data/
logs/
*.xml
*.csv
*.json

# ===============================
# [4] 테스트/임시 개발 파일
# ===============================
tests/
test/

# ===============================
# [5] Python 관련 파일 및 디렉토리
# ===============================
__pycache__/
__pycache__
.cache
*.pyc
*.log